/* Variables */
$blue: #027AD0;

/* Custom Header */
.boomerang-admin-header {
  .boomerang-title {
    margin-left: -20px;
    background-color: $blue;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .boomerang-logo {
      width: 200px;
    }

    p {
      color: #fff;
    }
  }

  .boomerang-notices-container {
    margin: 0;
  }

  &.drop {
    padding-top: 40px;
  }
}

/* CSF Settings Page */
.csf {
  .csf-footer {
    .csf-copyright {
      display: none;
    }
  }
}