/**
Global Styles
 */

/**
Fonts
 */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url('../fonts/material-symbols.woff2') format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/**
Boomerang Form
 */
#boomerang-form {
  .boomerang_select, input, textarea {
    width: 100%;
  }

  #bf-footer {
    display: flex;
    gap: 10px;

  // Ajax Spinner
  #bf-spinner {
    display: none;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: ajax-spinner-spin 2s linear infinite;
  }

    @keyframes ajax-spinner-spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }

  #bf-result {
    &.success {
      color: #00a32a;
    }

    &.error {
      color: #9e1313;
    }
  }
}

.select2-container--open .select2-dropdown {
  top: 32px;
}

span.material-symbols-outlined {
  line-height: normal;
}

.votes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;

  &.vertical {
    flex-direction: column;
  }

  .vote-up, .vote-down {
    padding: 10px;
  }

  .vote-up {
    &.status-1 {
      color: #00a32a;
    }
    .active {

    }
  }

  .vote-down {
    &.status--1 {
      color: #9e1313;
    }

    .active {

    }
  }
}

.boomerang-admin-toggle {
  margin-left: auto;
  display: flex;

  span {

  }
}

.boomerang-admin-area {
  padding: 10px 0;
  display: flex;
  gap: 20px;
}

#boomerang-board-filters {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 2px solid #000;
  padding-bottom: 20px;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    gap: 10px;

    label {
      display: flex;
      align-items: center;
    }

    select {
      min-width: 150px;
    }

    #boomerang-search {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }
  }
}

/**
Single Boomerang
 */
.single-boomerang {
  .boomerang-container {
    .entry-header, .entry-content, .entry-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px auto;
    }

    .entry-header {
      .entry-title {
        margin-top: 10px;
        margin-bottom: 10px;
      }


    }

    .entry-content {
      width: 1200px;
      display: flex;
      flex-direction: column;
    }

    .boomerang-meta {
      display: flex;
      align-items: center;
      gap: 20px;

      .non-voting-meta {
        display: flex;
        gap: 20px;
        margin: 10px auto;
      }

      .boomerang-posted-by {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .boomerang-status {
        border: 1px solid black;
        border-radius: 7px;
        padding: 0 5px;
      }

      .boomerang-comment-count {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      #boomerang-tags {
        display: flex;
        gap: 10px;

        span:not(:first-of-type) {
          border: 1px solid black;
          border-radius: 7px;
          padding: 0 5px;
        }
      }
    }

    .entry-footer {

    }
  }
}

/**
Archive boomerangs
 */
.boomerang-directory {
  margin-top: 20px;

  .boomerang {
    display: flex;
    gap: 20px;

    .boomerang-right {
      flex: 1;
    }
  }

    .entry-header, .entry-content, .entry-footer {
      display: flex;
      margin: 10px auto;
    }

  .page-numbers {
    list-style-type: none;
  }

    .entry-header {
      display: flex;
      flex-direction: column;


    }

  .entry-content {
    display: flex;
    flex-direction: column;
  }

  .boomerang-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .boomerang-meta-left, .boomerang-meta-right {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .boomerang-posted-by {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .boomerang-status {
      border: 1px solid black;
      border-radius: 7px;
      padding: 0 5px;
    }

    .boomerang-comment-count {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

    .entry-footer {
      #boomerang-tags {
        display: flex;
        gap: 10px;

        span:not(:first-of-type) {
          border: 1px solid black;
          border-radius: 7px;
          padding: 0 5px;
        }
      }
    }
}